# tutorial hashtag
python-dotenv
langchain
langchain-openai
langchain-community
langchain_text_splitters
langchain-chroma
chromadb
openai
pypdf

# modificacoes que eu fiz
langchain-google-genai
langchain_core

# construcao de um frontend simples
streamlit